* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* This part -01 */

.texth {
    font-size: 45px;
    color: white;
}

.textp {
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(images/10070000-0aff-0242-a850-08da55cf4e16_w408_r0_s.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.button {
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 50px;
    border: none;
}

/* part 02 */

.donate-h {
    font-size: 40px;
    text-align: center;
}

.donate-text {
    text-align: center;
}

.input-bttn {
    text-align: center;
    margin-top: 40px;
    margin-left: 100px;
}

input {
    border-style: hidden;
}

.donate-amount-list {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}

.donate-amount {
    list-style: none;
    padding: 30px 30px;
    background-color: aliceblue;
    color: gray;
    font-weight: 400;
}

#one {

    background-color: aquamarine;
}

#two {

    background-color: gainsboro;
    border: 5px solid tomato;
}

#three {

    background-color: pink;
}

#four {

    background-color: darkgrey;
}

#five {

    background-color: coral;
}



hr {
    width: 850px;
    align-items: center;
    margin-left: 20%;
    position: absolute;
}

.button-2 {
    text-align: center;
}

/* food for family */

.package-description {

    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.title2 {
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.box1 {
    width: 270px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 25px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
    margin-top: 20px;
    transition: .8ms;
}

.package-descript-text {
    text-align: justify
}

.icon img {
    width: 70px;

}

/* lives */

.h1-tag {
    font-size: 45px;
}

.flexible-container {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.button {
    display: inline;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
}

/* e-mail */
.box {

    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(235, 222, 217);
    text-align: center;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.from-box {
    padding: 10px;
    border-radius: 3px;
    background-color: darkgrey;
}

.button-5 {
    background-color: tomato;

}

/* Foter */
.foter {
    color: tomato;
    text-align: center;
    padding: 40px;
    background-color: black;
    font-style: italic;
}

.tagp {
    color: white;
    font-style: normal;
}

/* dfafdz */


.mail-box {
    width: 800px;
    height: 200px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 80px;
    position: center;

}

.mail-box input {
    border: none;
    color: gray;
    padding: 15px;
    font-size: 17px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.mail-box button {
    border: none;
    font-size: 17px;
    margin-left: -5px;
    background-color: tomato;
    border-radius: 0px 5px 5px 0;
}

.mail-box button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.bttn {
    padding: 15px;
}